<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="styles/style.css?v={{ site.time | date: '%s' }}">

        <title>{{ site.name }}</title>
    </head>

    <body>
        {% include header.html %}

        <div class="progress-bar" aria-hidden="true"><div class="progress-bar__fill"></div></div>

        {{ content }}

        {% include footer.html %}

        {% include external_js.html %}
    </body>
</html>
